@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/jobs-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

header p {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding: 1rem 1rem 0 1rem;
}

.container {
  width: 60%;
  background-color: rgba(299, 299, 299, 0.8);
  border-radius: 50px;
  padding: 2%;
}

button {
  background-color: #002c8f;
  border: none;
  min-height: 60px;
  font-weight: 900;
}
button:hover {
  background-color: #001d5f;
}

.card {
  background-color: transparent;
  border: none;
}
.logo {
  width: 300px;
}

.form-group input {
  font-weight: 200;
  margin-top: 2rem;
  font-size: 1.5rem;
  height: 3.2rem;
}

@media all and (max-width: 1200px) {
  header p {
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
@media all and (max-width: 1000px) {
  .container {
    padding: 1%;
    width: 70%;
  }
  .form-group input {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}
@media all and (max-width: 750px) {
  .logo {
    width: 200px;
  }
  header p {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  button {
    border-radius: 20px;
    min-height: 45px;
    font-weight: 700;
  }
  .container {
    padding: 0.5%;
    width: 80%;
  }
  .form-group input {
    margin-top: 1.5rem;
    font-size: 1.05rem;
    height: 2.5rem;
  }
}

@media all and (max-width: 500px) {
  header p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .form-group input {
    margin-top: 1.5rem;
    font-size: 0.7rem;
  }
  button {
    border-radius: 20px;
    min-height: 45px;
    font-weight: 400;
  }
  .logo {
    width: 180px;
  }
}

@media only screen and (max-device-width: 600px) and (max-device-height: 350px) and (orientation: landscape) {
  header p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
